<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-template}">
<body>
<div th:fragment="alert-message" id="alert-message">
    <div class="toast-container position-fixed bottom-0 end-0 p-3 ">

        <div th:if="${success}" id="toastSuccess" class="toast text-bg-success border-0 show" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Success</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="${success}">
            </div>
        </div>

        <div th:if="${error}" id="toastError" class="toast text-bg-danger border-0 show" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="${error}">
            </div>
        </div>

        <div th:if="${param.error}" class="toast text-bg-danger border-0 show" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p>Invalid credentials!</p>
            </div>
        </div>

        <div th:if="${param.logout}" class="toast text-bg-success" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Success</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p>Logged out successfully!</p>
            </div>
        </div>

    </div>

</div>
</body>
</html>