<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-template}">
<head>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div th:fragment="footer" id="footerContent">
    <div class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        <hr>
        <p>1120 Lorem ipsum dolor sit amet, KC 179050, LA.</p>
        <p>+01 2345 6789 12 | +01 2345 6789 12</p>

<!--        <div class="contact-social">-->
<!--            <ul>-->
<!--                <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>-->
<!--                <li><a class="hover-target" href=""><i class="fab fa-linkedin-in"></i></a></li>-->
<!--                <li><a class="hover-target" href=""><i class="fab fa-github"></i></a></li>-->
<!--                <li><a class="hover-target" href=""><i class="fab fa-behance"></i></a></li>-->
<!--                <li><a class="hover-target" href=""><i class="fab fa-pinterest-p"></i></a></li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>
