<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="stylesheet" th:src="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center mt-5">
    <div class="mx-auto" style="max-width: 600px;">
        <h1>Oops! Something went wrong!</h1>
        <h3>500 Internal Server ERROR</h3>
        <hr>
        <p>We apologize for the inconvenience. Please try again later.</p>
        <a th:href="@{/home}" class="btn">Return to Home</a>
    </div>

</div>
</body>
</html>