<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-template}">
<head>
    <script th:src="@{/javascript/view-product.js}"></script>
    <title>View Product</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="container mt-3">
        <h1 class="mb-4">Product Details</h1>
        <div class="row">
            <div class="col-md-6">
                <img th:src="@{${product.productImage}}" class="img-fluid" alt="Product Image">
            </div>
            <div class="col-md-6">
                <form th:action="@{/cart/add-to-cart}" method="post">
                    <input type="hidden" name="productId" th:value="${product.productId}"/>
                    <h2 th:text="${product.productName}"></h2>
                    <p th:text="${product.productDesc}"></p>
                    <p><strong>Price:</strong> $<span th:text="${product.productPrice}"></span></p>


                    <div class="col-md-6 mb-4">
                        <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class=" btn btn-outline-secondary btn-minus btn-number">
                                          <span class="glyphicon glyphicon-minus">-</span>
                                        </button>
                                    </span>
                            <input type="text" id="quantity-input" name="quantity" class="form-control input-number"
                                   th:value="*{quantity}" min="1" max="100">
                            <span class="input-group-btn">
                                        <button type="button" class=" btn btn-outline-secondary btn-plus btn-number">
                                            <span class="glyphicon glyphicon-plus">+</span>
                                        </button>
                                    </span>
                        </div>
                    </div>
                    <!--        <div class="quantity-selector input-group">-->
                    <!--          <button class="btn btn-outline-secondary btn-minus" type="button">−</button>-->
                    <!--          <input type="text" class="form-control" th:value="*{quantity}" min="1" id="quantity-input" readonly>-->
                    <!--          <button class="btn btn-outline-secondary btn-plus" type="button">+</button>-->
                    <!--        </div>-->

                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>